<div class="show_user">	
	<h1><%= @user.username %></h1>
	<h3><%= @user.location %></h3>
	<h3><%= @user.latitude %></h3>
	<h3><%= @user.longitude %></h3>
	<h3><%= @user.bio %></h3>

	<div class="row">
		<% @user.tweets.each do |tweet| %>
		<div class="col-md-8">
			<div class="panel panel-default">
				<div class="panel-body">
					<p><%= tweet.message %></p>
				</div>
			</div>
		</div>
		<% end %>
	</div>
	<div class="row">
		<div class="col-md-4"> 
			<% if current_user.id != @user.id %>
				<% if current_user.following.include?(@user.id) %>
					<%= form_tag('/unfollow') do %>
						<div hidden>
							<%= text_field_tag :unfollow_id, @user.id %>
						</div>
						<%= submit_tag 'Following', class: 'btn btn-primary', id: 'unfollow_btn' %>
					<% end %>
				<% else %>
				<div>
					<%= form_tag('/now_following') do %>
					<div hidden>
						<%= text_field_tag :follow_id, @user.id %>
					</div><br />
					<%= submit_tag 'Follow', class: 'btn btn-primary', id: 'follow_btn' %>
					<% end %>
				</div>
				<% end %>
			<% end %>
		</div>
		<div class="col-md-8"> 
			<div id="map-canvas"></div>
		</div>
	</div>
</div>


<script>
	$(document).ready(function(){
		$('#unfollow_btn').hover(function(){
			$(this).removeClass("btn-primary");
			$(this).addClass("btn-danger");
			$(this).attr('value', 'Unfollow');
		}, 	function() {
			$(this).attr('value', 'Following');
			$(this).removeClass("btn-danger");
			$(this).addClass("btn-primary");
		});
	});
</script>

<script>
	$(document).ready(function(){
		$('#follow_btn').hover(function(){
			$(this).removeClass("btn-primary");
			$(this).addClass("btn-success");
			$(this).attr('value', 'Follow');
		}, 	function() {
			$(this).attr('value', 'Follow');
			$(this).removeClass("btn-success");
			$(this).addClass("btn-primary");
		});
	});
</script>
